<!doctype html>
<html lang="en">

<head>
	<title>About me</title>
	<link href="Style.css" rel="stylesheet" type="text/css">
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<meta charset="utf-8">
	<script src="Scrypt.js"></script>
</head>

<body>
	<div class="ContentR">
		<div class="Header" id="topofthetop" onMouseDown="ChangeFont()">
			<h1 id="MyName">Akopyan Timur</h1>
		</div>
		<div class="LeftPanelR">
			<div class="IconSocial">
				<a href="index.html">
					<img class="IconSocial"
						 src="icons/home.png"
						 alt="Homepage"
						 title="Homepage">
				</a>
			</div>
			<div class="IconSocial">
				<a href="summary.html">
					<img class="IconSocial"
						 src="icons/summary.png"
						 alt="Summary"
						 title="Summary">
				</a>
			</div>
			<div class="IconSocial">
				<a href="mailto:akopyan.t.i@inbox.ru?subject=The%20best%20man&amp;body=Hello">
					<img class="IconSocial"
						 src="icons/post.png"
						 alt="akopyan.t.i@inbox.ru"
						 title="My post">
				</a>
			</div>
			<div class="IconSocial">
				<a href="https://www.vk.com/sellerofair" target="_blank">
					<img class="IconSocial"
						 src="icons/VK.png"
						 alt="@sellerofair"
						 title="My VK">
				</a>
			</div>
			<div class="IconSocial">
				<a href="https://www.instagram.com/sellerofair/" target="_blank">
					<img class="IconSocial"
						 src="icons/instagram.png"
						 alt="@sellerofair"
						 title="My Instagram">
				</a>
			</div>
		</div>
		<div class="RightPanelR">
			<div class="Banner">
				<h2 style="color: white">I want some things:</h2>
				<ul>
					<li>new modern car</li>
					<li>vacation home</li>
					<li>two more children</li>
				</ul>
			</div>
		</div>
		<div class="MiddlePanelR">
			<p class="greeting">Hello!<br>I am Timur Akopyan. Hire me for your company, because my work is <strong>off the hizzle</strong>.</p>
			<div class="info">
				<a href="https://www.vk.com/sellerofair" target="_blank">
					<figure class="avatar">
						<img src="Beard&Glasses avatar.jpg"
							 alt="Akopyan Timur portrait"
							 title="Here I am">
						<figcaption align="center">Me & my beard</figcaption>
					</figure>
				</a>
				<h2>Indispensable skills</h2>
				<p>My scills include:</p>
				<ul>
					<li>Algorithms</li>
					<li>Mathematic modeling</li>
					<li>Solving the new issues</li>
				</ul>
				<p>And also <strong>trying</strong> to know HTML5</p>
				<br style="clear: both">
			</div>
			<div class="info">
				<h2 style="cursor: pointer" onClick="ToggleVisibility('Hidden')">Previous work experience</h2>
				<div id="Hidden">
					<p>I have a long careere in Industrial automation. Here is my stairway:</p>
					<ul>
						<li>2012-2015 - Engineer</li>
						<li>2015-2017 - Senior Engineer</li>
						<li>2017-2019 - Functional Safety Manager</li>
					</ul>
				</div>
			</div>
			<iframe allow="autoplay *; encrypted-media *;"
					frameborder="0"
					height="450"
					style="width:100%;max-width:660px;overflow:hidden;background:transparent;"
					sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation"
					src="https://embed.music.apple.com/ru/album/saint-asonia/1042974351">
			</iframe>
			<iframe allow="autoplay *; encrypted-media *;" 
					frameborder="0"
					height="150"
					style="width:100%;max-width:660px;overflow:hidden;background:transparent;"
					sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation"
					src="https://embed.music.apple.com/ru/album/the-hunted-feat-sully-erna/1472297572?i=1472297827">
			</iframe>
		</div>
		<br style="clear: both">
		<div class="Footer">
			<a href="#topofthetop" class="top">
				<div class="top">
					▲
					<br>
					TO THE TOP
				</div>
			</a>
		</div>
	</div>
</body>

</html>