<!doctype html>
<html lang="en">

<head>
	<title>Summary</title>
	<link href="Style.css" rel="stylesheet" type="text/css">
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<meta charset="utf-8">
	<script src="Scrypt.js"></script>
</head>

<body>
	<div class="ContentR">
		<div class="Header" id="topofthetop" onMouseDown="ChangeFont()">
			<h1 id="MyName">Akopyan Timur</h1>
		</div>
		<div class="LeftPanelR">
			<div class="IconSocial">
				<a href="index.html">
					<img class="IconSocial"
						 src="icons/home.png"
						 alt="Homepage"
						 title="Homepage">
				</a>
			</div>
			<div class="IconSocial">
				<a href="summary.html">
					<img class="IconSocial"
						 src="icons/summary.png"
						 alt="Summary"
						 title="Summary">
				</a>
			</div>
			<div class="IconSocial">
				<a href="mailto:akopyan.t.i@inbox.ru?subject=The%20best%20man&amp;body=Hello">
					<img class="IconSocial"
						 src="icons/post.png"
						 alt="akopyan.t.i@inbox.ru"
						 title="My post">
				</a>
			</div>
			<div class="IconSocial">
				<a href="https://www.vk.com/sellerofair" target="_blank">
					<img class="IconSocial"
						 src="icons/VK.png"
						 alt="@sellerofair"
						 title="My VK">
				</a>
			</div>
			<div class="IconSocial">
				<a href="https://www.instagram.com/sellerofair/" target="_blank">
					<img class="IconSocial"
						 src="icons/instagram.png"
						 alt="@sellerofair"
						 title="My Instagram">
				</a>
			</div>
		</div>
		<div class="RightPanelR">
			<div class="Banner">
				<h2 style="color: white">I want some things:</h2>
				<ul>
					<li>new modern car</li>
					<li>vacation home</li>
					<li>two more children</li>
				</ul>
			</div>
		</div>
		<div class="MiddlePanelR">
			<div class="Back"></div>
			<div class="Front">
				<p>ALWAYS ON TOP</p>
			</div>
			<div class="info" style="margin-top: 100px">
				<h2>Summary</h2>
				<p>
					Experienced Industrial automation professional, Functional safety team leader managing domestic and international projects in emergency shutdown systems (ESD). Working for Domain CJSC (a diversified engineering company with extensive experience in the field of industrial automation).
					<br>
					<br>
					Main skills:
					<br>
					— ability to develop an optimal algorithm for the task of any complexity, regardless of initial data quality;<br>
					— ability to learn any programming environment quickly;<br>
					— practical knowledge in various technological industrial processes (chemical, petrochemical, gas etc.) and mechanics of different mechanisms (pumps, valves, etc.);<br>
					— acceptance tests (FAT) and commissioning works (SAT) fulfillment for each project;<br>
					— electrical and electronic circuits reading;<br>
					— upper intermediate English with an experience of work in international team without an interpreter;<br>
					— management skills, good team player & team leader.
					<br>
					<br>
					Working in a field of industrial automation since 2012 (Graduation work for an Engineer degree in automation of technological processes in Ryazan State Radio Engineering University; based on Domain CJSC actual project). Joined right after graduation, and evolved from an Engineer into a Functional safety team leader.
				</p>
			</div>
			<div class="info">
				<h2>My web</h2>
				<p>
					<a href="forms.html" target="_blank">Ф О Р М Ы</a>
				</p>
				<p>
					<a href="houston.html" target="_blank">Х Ь Ю С Т О Н</a>
				</p>
			</div>
		</div>
		<br style="clear: both">
		<div class="Footer">
			<a href="#topofthetop" class="top">
				<div class="top">
					▲
					<br>
					TO THE TOP
				</div>
			</a>
		</div>
	</div>
</body>

</html>